@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.banner-section-bg-container {
    height: 40vh;
    background-image: url("https://img.freepik.com/premium-vector/isometric-illustrations-design-concept-technology-solution-top-with-e-learning_71983-1653.jpg?w=740");
    background-size: cover;
    align-items: center;
}

.banner-heading {
    color: white;
    font-family: "Roboto";
    font-size: 30px;
    font-weight: 200;
}

.banner-caption {
    color: #f5f7fa;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 200;
}

.custom-button {
    width: 100px;
    height: 35px;
    color: white;
    background-color: blue;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
}

.custom-outline-button {
    width: 100px;
    height: 35px;
    color: white;
    font-size: 15px;
    background-color: green;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
}

.logo {
    height: 70px;
    width: 80px;
}


#navItem1 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem2 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem3 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem4 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem5 {
    color: #323f4b;
    font-family: "Roboto";
}

#features {
    padding: 10px;
    text-align: center;
    font-size: 12px;
}

#features .fea-base {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

#features .fea-box {
    background-color: #f9f9ff;
    text-align: start;

}

#features .fea-box .i {
    font-size: 5px;
    color: grey;
}

#features .fea-box h3 {
    color: blue;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0 5px 0;
}

#features .fea-box p {
    font-size: 10px;
    font-weight: 400;
}

#course {
    color: blue;
    padding: 10px;
    text-align: center;
    font-size: 10px;
}




#course .course-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

#course .courses {
    background-color: #f9f9ff;
    text-align: start;
    height: 100%;
    width: 50%;
    position: relative;
}

#course .courses img {
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;
}

#course .courses .details {
    padding: 15px 15px 0px 15px;
}

#course .courses .details i {
    color: #fdc939;
    font-size: .9rem;
}

#course .courses .cost {
    background-color: green;
    color: #ffffff;
    line-height: 30px;
    width: 50px;
    height: 30px;
    text-align: center;
    border-radius: 30%;
    position: absolute;
    right: 15px;
}

#contact {
    color: grey;
    padding: 10px;
    text-align: center;
    font-size: 10px;
}

#contact .form {
    background-color: #f5f7fa;
    width: 60%;
    border-radius: 10px;
    padding: 40px;
}

#contact .form h4 {
    color: grey;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 8px;
    font-weight: bold;

}

#contact .form p {
    font-size: 10px;
    color: #686875;
    line-height: 24px;
    padding-bottom: 25px;
}

#contact .form .form-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#contact .form .form-row .input {
    width: 48px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 2px;
    border: none;
    background-color: #ffffff;
    color: #7e7c87;
    outline: none;
    padding: 20px 30px;
    margin-bottom: 20px;

}

#contact .form .form-col .input,
#contact .form .form-col .textarea {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    background-color: #ffffff;
    outline: none;
    padding: 20px 30px;
    margin-bottom: 30px;

}

.send-button {
    width: 100px;
    height: 35px;
    color: white;
    background-color: blue;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
}